/*definir o background global para a cor preta*/

app-root {
    background-color: black;
    color: white;
    min-height: 100vh; /* Garante que cobre toda a altura da tela */
    display: block;
  }
  